<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sbo:ServerName" value=""/>
    <add key="Sbo:ServerType" value="MSSQL2016"/>
    <add key="Sbo:CompanyDb" value="SBODemoCA"/>
    <add key="Sbo:DbUsername" value="sa"/>
    <add key="Sbo:DbPassword" value=""/>
    <add key="Sbo:Username" value="manager"/>
    <add key="Sbo:Password" value="manager"/>
    <add key="Sbo:LicenceService" value=":30000"/>
  </appSettings>
</configuration>