<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sbo:ServerName" value="POLR-KENNY"/>
    <add key="Sbo:ServerType" value="MSSQL2016"/>
    <add key="Sbo:CompanyDb" value="SBODemoCA"/>
    <add key="Sbo:DbUsername" value="sa"/>
    <add key="Sbo:DbPassword" value="2hot4u"/>
    <add key="Sbo:Username" value="manager"/>
    <add key="Sbo:Password" value="manager"/>
    <add key="Sbo:LicenceService" value="POLR-KENNY:30000"/>
  </appSettings>
</configuration>